@import url('https://fonts.googleapis.com/css2?family= Poppins :wght@400;700 & display=swap');
:root{
    --azul-dnc: #0c70f2;
    --preto-dnc:#303030;
    --cinza-hover:#c9c9c9;
    --fonte-padrao:'inter'
} 
body {
    background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 25%, rgba(12, 112, 242, 0) 34.8%), #303030;
    background-repeat: no-repeat;
    margin:0px; /*maargem externa*/
    padding:0px;/*margem interna*/

    /**/
    /*background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%), #303030;*/
    }
        
   #principal {
    width: 100%;
    height: 100px;
    border:1px solid black;
    background-color:var(--preto-dnc);

    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #bababa;        
   }
   #principal div a {
    font-family:var(--fonte-padrao);
    font-style: normal;
    font-size:25px;
    font-weight: 600;
    line-height: 30px;
    text-decoration: none;
    color:white;
   
   }
   #principal div a:hover {
    color:var(--cinza-hover);
    /*Faz com que ao passar o mouse em cima o irem muda de cor.Chmado de pseudo clase*/
   }
    #menu {
    display:flex;
    width: 45%;
    justify-content:space-around; /*Aplica o espaço entre as palvras colocada utilizando espaçamento de forma igualitaria no espaço definido*/
    align-items: center; /* É o alinhamento de todos itens verticais que tem no flex */
    margin-left: 5%;

    }
    #principal button {
        margin-right: 5%;
        background-color:var(--azul-dnc);
        border: 0px;

        height: 40PX;
        width: 80px;

        font-family:var(--fonte-padrao)
        font-size:20px;
        font-weight: 600;
        color:white;
        
        box-shadow: 3px 2px 4px rgba(12,112,242,0.25);         
    
        cursor: pointer;
        /*Cursor POINTER faz aparecer a mãozinha em cima do botão*/
        /*box shadow seria 3pixels de largura e 2pixels de tamanho ja o 4pixel seria a força do desfoque, a cor é a cor da sombra gerada*/
    }

    /*Sessão principal do site*/

    section {
        display:flex;
        flex-direction: column; /*ao inves das divs ficarem lado a lado, elas ficam uma a baixo da outra como uma coluna.*/
        align-items: center;

        margin-top: 100px;
        margin-bottom: 100px;
        }
        header {
            color:white;
            font-family: var(--fonte-padrao);
        }
        header h1 {
            text-transform: uppercase;
            font-size:80px;
            font-weight: 750;
            margin-bottom: 15px;
            text-align: center;
        }
        header h2{
            margin-bottom: 100px;
            color:white;
            text-align:center;
            font-family: var(--fonte-padrao)
            font-size:40px;
            font-weight:700
            }
            header .invert {
                background-color: #1F1F1F;
                font-weight: bold;
                padding: 5px;
            }
            form{
                color:white;
                width: 500px;
                font-family:var(--fonte-padrao)
                font-ize:30px;
                font-weight:600;
                
            }
            .formGroup {
                display:flex;
                flex-direction: column;
                /*Flex direction column para direcionar a label acima do input sem prescisar usar a tag br*/
                margin-top: 13px;
            }
            form input {
                background-color: rgba(255, 255 , 255,0.9 );
                border-radius: 10px;
                height: 30px;
                font-size: 20px;
                line-height: 24px;
                border: 0px;
                padding:10px
                             
            }
            form input::placeholder {
                color:rgb(57,57,57,0.5);
                            
            }
            form label {
                margin: 10px 0px 10px 0px;
            }
            #cdt {
                background-color: #0c70f2;
                color: #FFFFFF;
                
                margin-top: 25px;
            }
            .checkbox-itens label {
                font-size: 21px;
            }
            .checkbox-itens {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
            input[type="checkbox"]{
                transform: scale(1.6);
            }
            input[type="submit"]{
                background-color: rgba(12,112,242,0.9);
                width: 100%;
                height: 55px;
                font-size: 32px;
                color: white;
                cursor: pointer;
                box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.25);
                margin-top: 100px
            }
            /*Estrutura do Footer*/
            footer { 
                width:100%;
                background-color: var(--azul-dnc);
            }
            footer .linha1 {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
            footer ul {
                list-style: none;
                margin: 0px;
                padding: 0px;
            }
            footer .nav1{
                display:flex;
                flex-direction: column;
                align-items: center;
                height: 330px;                
            }
            footer .nav2 {
                display:flex;
                flex-direction: column;
                align-items: center;
                height: 330px;  
            }
            footer h5 {
                text-align: center;
                color: white;
                font-weight: 800;
                font-size: 18px;
                font-family: var(--fonte-padrao);
                background-color: var(--preto-dnc);
                border-radius: 10px;

                padding:10px 10px 10px 10px;
                margin-bottom: 15px;
            }
            footer ul li {
                text-align: center;
                color: white;
                font-weight: 600;
                font-size: 18px;
                font-family: var(--fonte-padrao);
                margin: 10px 0px 10px 0px;
            }
            footer ul li a {
                color: white;
                text-decoration: none;
            }
            footer ul li a:hover {
                color: var(--cinza-hover);
            }
            footer .endereço {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 800;
                font-size: 18px;
                line-height: 20px;
                text-align: center;
                font-family:var(--fonte-padrao);
                color:white;                
            }
            footer .linha2 {
                display: flex;
                justify-content: center;
                margin:0px;
                padding: 10px;
            }
            footer .linha2 a {
                font-family: var(--fonte-padrao);
                font-size:18px;
                font-weight: 600;
                color:white;
                text-decoration: none;
                padding:5px;
            }
            footer .linha2 a:first-child {
                border-right: 3px solid white;
            }
            footer .linha2 a:hover {
                color: var(--cinza-hover);

            }
            @media only screen and (max-width: 600px){
              /*menu*/
                #principal {
                display: flex;
                flex-direction: column;
                height: auto;

               } 
               #menu {
                flex-direction: column;
                width: 100%;
                margin: 0px;
                

               }
               #menu a {
                height: 50px;
               }
               #principal button{
                width: 100%;
                margin: 0px;
               }
               section h1 {
                font-size: 38px;
               }
               section h2 {
                font-size: 28px;
                padding-right: 15px;
                padding-left: 15px;
               }
               form {
                width: 95%;
                font-size: 20px; 
               }
               .checkbox-itens{
                font-size:15px;             
               }
               /*Footer*/
               footer .linha1 {
                flex-direction: column;
            }
            .endereço {
                width: 100%;
            }
            }
              

